h1,.Forms{
text-align: center;
font-style: italic;
}


.ButtonDiv,.States{
   text-align: center;
}
nav{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 50px;
   text-align: center;
}
nav a.active{
text-decoration: none;
margin-right: 15px;
font-weight: bold;
}
nav a{
   margin-right: 15px;
   margin-bottom: 30px;
}
div{
   align-content: center;
   text-align: center;
}
.areebaLogo{
   max-width: 250%;
   max-height: 250%;
}
body {
   background-color: lightblue;
 }